
// -------- Colors -----------
@primary: #0D47A1;
@secondary: #1A237E;
@info: #0D47A1;
@success: #8BC34A;
@processing: #CDDC39;
@error: #f44336;
@highlight: #adc400;
@warning: #FFC107;
@normal: #d9d9d9;
@white: #fff;
@black: #000;
