<nz-page-header nzTitle="Formulario de edición"></nz-page-header>
<nz-divider></nz-divider>
<form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <div nz-row [nzGutter]="[8, 2]">
    <div nz-col nzXs="24" nzSm="12" nzMd="8">
      <nz-form-item>
        <nz-form-label>Rol</nz-form-label>
        <nz-form-control nzErrorTip="Necesita introducir el rol">
          <input nzSize="large" formControlName="role" nz-input placeholder="Rol" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8">
      <nz-form-item>
        <nz-form-label>Language</nz-form-label>
        <nz-select nzAllowClear nzSize="large" nzMode="multiple" [nzPlaceHolder]="'Language'" formControlName="language"
          [nzNotFoundContent]="'No existe'">
          <nz-option *ngFor="let lenguaje of lenguajes" [nzLabel]="lenguaje.nombre" [nzValue]="lenguaje.nombre">
          </nz-option>
        </nz-select>
      </nz-form-item>

    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8">
      <nz-form-item>
        <nz-form-label>Email</nz-form-label>
        <nz-form-control [nzErrorTip]="emailErrorTpl">
          <input nzSize="large" formControlName="email" nz-input placeholder="example@example.com" />
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('email')">The input is not valid E-mail!</ng-container>
            <ng-container *ngIf="control.hasError('required')">Please input your E-mail!</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8">
      <nz-form-item>
        <nz-form-label>Name</nz-form-label>
        <nz-form-control nzErrorTip="Necesita introducir el rol">
          <input nzSize="large" formControlName="name" nz-input placeholder="Name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8">
      <nz-form-item>
        <nz-form-label>Last name</nz-form-label>
        <nz-form-control nzErrorTip="Necesita introducir el rol">
          <input nzSize="large" formControlName="lastname" nz-input placeholder="Last name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8">
      <nz-form-item>
        <nz-form-label>Currency</nz-form-label>
        <nz-select nzAllowClear nzSize="large" [nzPlaceHolder]="'Currency'" formControlName="currency"
          [nzNotFoundContent]="'No existe'">
          <nz-option *ngFor="let moneda of monedas" [nzLabel]="moneda.name" [nzValue]="moneda._id">
          </nz-option>
        </nz-select>
      </nz-form-item>

    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8">

      <nz-form-item>
        <nz-form-label>Country</nz-form-label>
        <nz-select nzAllowClear nzSize="large" [nzPlaceHolder]="'Country'" formControlName="country"
          [nzNotFoundContent]="'No existe'">
          <nz-option *ngFor="let pais of paises" [nzLabel]="pais.nombre" [nzValue]="pais.nombre">
          </nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8">
      <nz-form-item>
        <nz-form-label>Country code</nz-form-label>
        <nz-form-control nzErrorTip="Necesita introducir el rol">
          <input nzSize="large" formControlName="countryCode" nz-input placeholder="Country code" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8">
      <nz-form-item>
        <nz-form-label>Country name</nz-form-label>
        <nz-form-control nzErrorTip="Necesita introducir el rol">
          <input nzSize="large" formControlName="countryCodeName" nz-input placeholder="Country name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8">
      <nz-form-item>
        <nz-form-label>Phone</nz-form-label>
        <nz-form-control nzErrorTip="Necesita introducir el rol">
          <input nzSize="large" formControlName="phone" nz-input placeholder="Phone" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24">
      <div nz-row [nzGutter]="[8, 2]" nzJustify="center">
        <div nz-col nzXs="6">
          <nz-form-item>
            <button nz-button nzType="default" (click)="cancelar()">CANCELAR</button>
          </nz-form-item>
        </div>
        <div nz-col nzXs="6">
          <nz-form-item>
            <button nz-button nzType="primary" type="submit">GUARDAR</button>
          </nz-form-item>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- <div nz-row [nzGutter]="[16, 16]">
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzMd="8" nzLg="8" nzXl="10">
    <input nzSize="large" formControlName="userName" nz-input placeholder="Username" />
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzMd="8" nzLg="8" nzXl="4" style="background-color: indigo;">Col</div>
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzMd="8" nzLg="8" nzXl="10" style="background-color: green;">Col</div>
</div> -->